.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Landing .link {
  margin: 14px;
  text-decoration: inherit;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border-radius: 5px; 
  box-shadow: 1px 1px 2px;
  padding: 20px 10px;
}