.Profiler, .profiler-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profiler-holder {
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin-top: 1.5em;
  padding: 20px 40px;
}
.Profiler .input-h4 {
  width: 90%;
}

.Profiler input {
  width: 100%;
}

.dropzone-image {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profiler .button-holder{
  margin-top: 10px;
}

.Profiler h4 {
  margin-bottom: 7px;
}

